# Mid-term Exam

In this exam you will work on the following concepts:

* Handling dates and times in Python and Pandas
* Handling text data in Pandas with regular expressions
* Interacting with APIs to get data
* Basic concepts of Object Oriented Programming

The two APIs that you will use are:

* [Open Notify](http://open-notify.org/Open-Notify-API/): an API that provides information about the International Space Station (ISS).
* [Kanye Rest](https://kanye.rest/): an API that provides quotes from Kanye West.

Rules:
- The time limit is 80 minutes.
- Every solution must be written in Python, and the result must be printed or returned.
- 5 minutes before the end, a warning will be given to submit what you have so far. No submissions will be accepted after the end of the exam.
- You can resubmit as many times as you want.
- The exam is open-book, open-notes, open-internet, open-everything except for communicating with anyone by any means, sharing solutions, or using AI in any form.
    - The student that doesn't comply with these rules will fail immediately and reported to the university.
- If you have a question, please raise your hand. I will come to you.
- For every exercise with a single solution, the solution is provided, but you need to write the code to solve it.
- If you couldn't solve an exercise and you need the solution, you can copy my solution at a penalty of 75% of the exercise's grade.
    - E.g. on exercise 1 (1 point) you don't know the solution, but you need it for exercise 2 (1 point). You can copy the solution, but the maximum grade you can get on exercise 2 is 25% of the points. The total grade in both exercises will be 0.25 points.


Submission:
- Before the end of the exam, submit the exam using the link provided in the mid-term exam announcement.
- Only submit the completed notebook, no other files are needed, only the `.ipynb` file.

In [2]:
import pandas as pd
from datetime import datetime
import re
import requests
import os
from time import sleep
from dotenv import load_dotenv
import datetime
import json
from functools import reduce

## Exam theme.

Following the recent events, the ISS is repurposing its mission. They think that what the world needs now is Kanye, sweet Kanye.

They have come up with a business idea which is to have the ISS display Kanye West quotes in the sky. You are the first employee in the new Kanye West Space Program (KWSP). 

Everything you build should be done in a class called `KanyeSpace`.

## Exercise 1 (1 point)

Using the ISS API, build a function called `get_iss_position` that gets the current position of the ISS and returns it as a tuple with the latitude and longitude as floats.

In [12]:

def get_iss_position():
        response = requests.get(url="http://api.open-notify.org/iss-now.json")
        response_json = response.json()
        response_json['timestamp'] = pd.to_datetime(response_json['timestamp'], unit='s')
        return (response_json['iss_position']['longitude'],response_json['iss_position']['latitude'])

In [ ]:
iss_position = get_iss_position()
type(iss_position)

tuple

## Exercise 2 (1 point)

Using the Kanye Rest API, build a function called `get_kanye_quote` that gets a quote from Kanye West and returns it as a string.

In [17]:
def get_kanye_quote():
    response = requests.get(url="https://api.kanye.rest/")
    data = response.json()
    return data

In [18]:
kayne_quote = get_kanye_quote()
kayne_quote

{'quote': "My first pillar when I'm on the board of adidas will be an adidas Nike collaboration to support community growth"}

## Exercise 3 (1 point)

Create a class called `KanyeSpace`. This class should have the following methods:

* `__init__(self)`: This method should initialize the class.
    * It should have an attribute called `pilot_name` that you pass when creating an instance of the class.
* `get_kanye_quote(self)`: This method should return a random Kanye West quote as a string. You can use the [Kanye Rest API](https://kanye.rest/).
* `get_iss_position(self)`: This method should return the current position of the ISS as a tuple with the latitude and longitude as floats. You can use the [Open Notify API](http://open-notify.org/Open-Notify-API/).

Then print the following:

* The name of the pilot.
* A random Kanye West quote.
* The current position of the ISS.

In [19]:
class KayneSpace():
    def __init__(self, pilot_name):
        self.pilot_name = pilot_name

    def get_kanye_quote(self):
        return get_kanye_quote()
    
    def get_iss_position(self):
        return get_iss_position()

In [20]:
test1 = KayneSpace('test')
test1.pilot_name

'test'

In [21]:
test1.get_kanye_quote()

{'quote': 'I leave my emojis bart Simpson color'}

In [22]:
test1.get_iss_position()

('-166.5451', '-29.5419')

## Exercise 4 (1 points)

Let's test the `KanyeSpace` class.

Using the `get_kanye_quote` method from the `KanyeSpace` class, create a DataFrame with 20 Kanye West quotes, and the following columns:

* The quote number (starting from 1): column name `quote_id`
* The quote itself: column name `quote`
* The length of the quote: column name `quote_length`
* The amount of spaces in the quote: column name `n_spaces`
* The amount of 3-letter words in the quote: column name `n_3_letter_words`

You should use regular expressions to count the spaces and 3-letter words.

If you use more than 20 calls to the API, you will get a penalty of 2 points.

In [56]:
df = pd.DataFrame(columns=['quote_id','quote', 'quote_lenght','n_spaces','n_3_letter_words'])

for x in range(20):
    
    data = test1.get_kanye_quote()
    
    data_conv = {'quote_id': x+1, 
                'quote': data['quote'], 
                'quote_lenght': len(data['quote']), 
                'n_spaces': len(re.findall(r"\s",data['quote'])), 
                'n_3_letter_words': len(re.findall(r"\w{3}",data['quote']))
                }
    df = df._append(data_conv, ignore_index=True)

df

,quote_id,quote,quote_lenght,n_spaces,n_3_letter_words
0,1,I really love my Tesla. I'm in the future. Tha...,58,11,10
1,2,My first pillar when I'm on the board of adida...,112,19,23
2,3,Truth is my goal. Controversy is my gym. I'll ...,100,20,15
3,4,Keep squares out yo circle,26,4,6
4,5,We must and will cure homelessness and hunger....,82,14,18
5,6,There are 5 main pillars in a professional mus...,127,18,29
6,7,Sometimes you have to get rid of everything,43,7,10
7,8,I'm giving all Good music artists back the 50%...,76,14,14
8,9,Everything you do in life stems from either fe...,56,10,11
9,10,Believe in your flyness...conquer your shyness.,47,5,10
10,11,We used to diss Michael Jackson the media made...,89,17,17
11,12,We will be recognized,21,3,4
12,13,Speak God's truth to power,26,4,4
13,14,One of my favorite of many things about what t...,133,26,23
14,15,Let's be like water,19,3,3
15,16,Two years ago we had 50 million people subscri...,122,20,26
16,17,Sometimes I push the door close button on peop...,131,21,29
17,18,I'm giving all Good music artists back the 50%...,76,14,14
18,19,Shut the fuck up I will fucking laser you with...,95,17,20
19,20,Artists are founders,20,2,5

## Exercise 5 (1 point)

How many different words have you found in the quotes? Create a function called `get_nunique_words` that returns the number of unique words in the column `quote` of the dataframe.

**Hint**: if you didn't solve exercise 4, you can use the CSV file `kanye_quotes.csv` that is provided in the exam folder to answer this question.

**Extra**: if you solve it without a for loop, you will get an extra 0.5 points.

In [49]:
df1 = df

In [55]:
for x in range(20):
    df1['quote'] = list(re.findall(r"\W+",df['quote']))

TypeError: expected string or bytes-like object, got 'Series'

In [46]:
df1 = df
df['unique_words'] = re.findall(r"\W+",df['quote'])

TypeError: expected string or bytes-like object, got 'Series'

In [44]:
def get_nunique_words(df):
    df['unique_words'] = re.findall(r"\W+",df['quote'])                         
    return df

In [45]:
get_nunique_words(df)

TypeError: expected string or bytes-like object, got 'Series'

## Exercise 6 (1 point)

Let's go back to the `KanyeSpace` class. We need to build the display system for the ISS.

Create a method called `display_quote` that returns a string with the following format:

```python
"Kanye says: {quote} {current_timestamp}"
```

For example: `"Kanye says: I wish I had a friend like me 2025-01-01 12:34:56"`

Use the current timestamp for the quote. Without milliseconds. Kanye doesn't like milliseconds.

In [78]:
class KayneSpace():
    def __init__(self, pilot_name):
        self.pilot_name = pilot_name

    def get_kanye_quote(self):
        return get_kanye_quote()
    
    def get_iss_position(self):
        return get_iss_position()
    
    def display_quote(self):
        the_quote = f'Kanye says: {self.get_kanye_quote()['quote']} {pd.Timestamp.now()}'
        return the_quote

In [79]:
test2 = KayneSpace('pilot_name')
test2.display_quote()

'Kanye says: I hear people say this person is cool and this person is not cool. People are cool. Man has never invented anything as awesome as a an actual person but sometimes we value the objects we create over life itself 2025-02-11 15:28:42.360577'

## Exercise 7 (1 point)

Ok, the display works.

Let's run a test where we use `display_quote()` 5 times every 2 seconds. Save the results of the `display_quote()` method in a list called `quotes_list`.

Use `time.sleep` for the 'every 2 seconds' part.

In [80]:
import time
response = KayneSpace('pilot_name')
data = str(response.display_quote())

In [81]:
quotes_list = []
for x in range(5):
        response = KayneSpace('pilot_name')
        data = str(response.display_quote())
        quotes_list.append(data)
        time.sleep(2)

quotes_list

["Kanye says: We've gotten comfortable with not having what we deserve 2025-02-11 15:28:57.869485",
 'Kanye says: I feel calm but energized 2025-02-11 15:28:59.957203',
 "Kanye says: We've gotten comfortable with not having what we deserve 2025-02-11 15:29:02.020604",
 "Kanye says: I'm on the pursuit of awesomeness, excellence is the bare minimum. 2025-02-11 15:29:04.074344",
 'Kanye says: Only free thinkers 2025-02-11 15:29:06.118621']

In [82]:
quotes_list

["Kanye says: We've gotten comfortable with not having what we deserve 2025-02-11 15:28:57.869485",
 'Kanye says: I feel calm but energized 2025-02-11 15:28:59.957203',
 "Kanye says: We've gotten comfortable with not having what we deserve 2025-02-11 15:29:02.020604",
 "Kanye says: I'm on the pursuit of awesomeness, excellence is the bare minimum. 2025-02-11 15:29:04.074344",
 'Kanye says: Only free thinkers 2025-02-11 15:29:06.118621']

## Exercise 8 (1 point)

Now convert that `quotes_list` to a DataFrame called `quotes_df` with the following columns:

* The quote itself: column name `quote`
* The timestamp of the quote: column name `timestamp`. If you use regex to extract the timestamp, you will get an extra 0.5 points.

For example, if the quote is `"Kanye says: I wish I had a friend like me 2025-01-01 12:34:56"`, the dataframe should have the following values:

| quote | timestamp |
|-------|-----------|
| I wish I had a friend like me | 2025-01-01 12:34:56 |

If you didnt solve exercise 7, you can use the following list to create the DataFrame, at a penalty of 0.75 points:

```python
['Kanye says: So many of us need so much less than we have especially when so many of us are in need 2025-02-06 21:01:47',
'Kanye says: Perhaps I should have been more like water today 2025-02-06 21:01:49',
"Kanye says: I'm giving all Good music artists back the 50% share I have of their masters 2025-02-06 21:01:51",
"Kanye says: My mama was a' English teacher. I know how to use correct English but sometimes I just don't feel like it aaaand I ain't got to 2025-02-06 21:01:54",
'Kanye says: Believe in your flyness...conquer your shyness. 2025-02-06 21:01:57']
```

In [102]:
quotes_df = pd.DataFrame(columns=['quote','timestamp'])

for x in range(5):
    data = {'timestamp' : re.findall(r"\d{4}-\d{2}-\d{2} [0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}",quotes_list[x]),
            'quote' :quotes_list[x][11:-26]}
    quotes_df = quotes_df._append(data, ignore_index=True)

quotes_df

                                               quote              timestamp
0   We've gotten comfortable with not having what...  [2025-02-11 15:28:57]
1                         I feel calm but energized   [2025-02-11 15:28:59]
2   We've gotten comfortable with not having what...  [2025-02-11 15:29:02]
3   I'm on the pursuit of awesomeness, excellence...  [2025-02-11 15:29:04]
4                                Only free thinkers   [2025-02-11 15:29:06]

## Exercise 9 (1 point)

Back to the `KanyeSpace` class.

Update the `display_quote` method to include the position of the ISS. The format should be:

```python
"Kanye says: {quote} {current_timestamp} {latitude} {longitude}"
```

In [105]:
class KayneSpace():
    def __init__(self, pilot_name):
        self.pilot_name = pilot_name

    def get_kanye_quote(self):
        return get_kanye_quote()
    
    def get_iss_position(self):
        return get_iss_position()
    
    def display_quote(self):
        the_quote = f'Kanye says: {self.get_kanye_quote()['quote']} {pd.Timestamp.now()} {get_iss_position()[0]} {get_iss_position()[0]}'
        return the_quote

In [106]:
test4 = KayneSpace('jksdf')
test4.display_quote()

'Kanye says: Pulling up in the may bike 2025-02-11 15:47:57.564481 31.9328 32.0619'

## Exercise 10 (1 point)

Now we need to check the costs. The cost of the display depends on the position of the ISS, because some weird contract with Starlink.

The cost is calculated as follows:

* If the ISS is above the equator, the cost is 150 Dogecoins per word in the quote.
* If the ISS is below the equator, the cost is 50 Dogecoins per word in the quote.

You can know if the ISS is above or below the equator by checking the latitude: if it's positive, it's above the equator, if it's negative, it's below the equator.

Create a method called `get_quote_cost` that returns the cost of the quote based on the position of the ISS.

Then update the `display_quote` method to display the cost of the quote as well.

For example:

```python
"Kanye says: One day I'm gon' marry a porn star 2025-02-06 21:12:35 6.0653 -32.5592 1200DOGE"
```

8 words times 150 Dogecoins = 1200 Dogecoins. Don't be too picky about counting words, just split by spaces.

In [ ]:
class KayneSpace():
    def __init__(self, pilot_name):
        self.pilot_name = pilot_name

    def get_kanye_quote(self):
        return get_kanye_quote()
    
    def get_iss_position(self):
        return get_iss_position()
    
    def display_quote(self):
        the_quote = f'Kanye says: {self.get_kanye_quote()['quote']} {pd.Timestamp.now()} {get_iss_position()[0]} {get_iss_position()[0]}'
        return the_quote
    
    def get_quote_cost(self):
        if get_iss_position()[0] > 0:
            cost = 150
        else:
            cost = 50
        return cost

## Exercise 11 (1 point)

Time to send the final report to the authorities to get the approval for the project.

Using the different methods of the `KanyeSpace` class, create a DataFrame with 5 different quotes, including these columns:

* The quote itself: column name `quote`
* The position of the ISS: column name `position`
* The cost of the quote: column name `cost`
* The latitude of the ISS: column name `latitude`
* The longitude of the ISS: column name `longitude`

## Exercise 12 (1 point)

What's your favorite Kanye West quote?

In [ ]:
#Just stop lying about shit. Just stop lying.